:root {
  background-color: var(--cdp-example-page-bg-color);
  color: var(--cdp-example-card-border-color);
  color-scheme: light dark;
  font-family: var(--cdp-example-font-family);
  font-size: var(--cdp-example-base-font-size);
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
