# CDP Configuration
NEXT_PUBLIC_CDP_PROJECT_ID=example-id

# Account type: "evm-eoa" for regular accounts, "evm-smart" for Smart Accounts (gasless transactions and improved UX)
NEXT_PUBLIC_CDP_CREATE_ACCOUNT_TYPE=evm-smart
