BASE_RPC_URL="https://mainnet.base.org"
BASE_PRIVATE_KEY="0x..."
BASE_ESCROW_ADDRESS="0x..."
BASE_ERC20_ADDRESS="0x..."

BASE_SEPOLIA_RPC_URL="https://sepolia.base.org"
BASE_SEPOLIA_PRIVATE_KEY="0x..."
BASE_SEPOLIA_ESCROW_ADDRESS="0x9D3d5A905023fAD483fCc6c7755841D475D4C6fe"
BASE_SEPOLIA_ERC20_ADDRESS="0xa44e1a19B9334d7FfF8AF0D0783041a83aEb5a49"

PINATA_JWT="..."
PINATA_GATEWAY="ol....mypinata.cloud"